<div class="small-12 medium-10 column" id="results-container">
  <h2 class="inline-block"><%= @geozone.nil? ? t('geozones.none') : @geozone.name %></h2>

  <span class="float-right"><%= link_to t("spending_proposals.results.show_all_link"), "#", class: "js-toggle-link button hollow margin-bottom", data: {'toggle-selector' => '.js-discarded', 'toggle-text' => t("spending_proposals.results.hide_discarded_link")} %></span>

  <table id="spending-proposals-results">
    <thead>
      <th></th>
      <th><%= t("spending_proposals.results.spending_proposal") %></th>
      <th><%= t("spending_proposals.results.spending_proposal_type") %></th>
      <th><%= t("spending_proposals.results.current_phase") %></th>
      <th class="text-right"><%= t("spending_proposals.results.price") %></th>
    </thead>
    <tbody>
      <% available_budget = @initial_budget.to_i %>
      <% @spending_proposals.each do |spending_proposal| %>
          <tr id="<%= dom_id(spending_proposal) %>" class="spending_proposal success">
            <td class="text-center">
              <% if spending_proposal.feasible? %>
                <span class="icon-check"></span>
                <span class="sr-only"><%= t("spending_proposals.results.accepted") %></span>
              <% else %>
                  <span class="icon-x"></span>
                  <span class="sr-only"><%= t("spending_proposals.results.discarded") %></span>
              <% end %>
            </td>
            <td>
              <%= link_to spending_proposal.title, spending_proposal_path(spending_proposal) %>
            </td>
            <td style="width: 200px;">
              <%= t("spending_proposals.results.spending_proposal_phases.#{spending_proposal.phase}") %>
            </td>
            <td>
              <%= t("spending_proposals.results.spending_type.#{spending_proposal.spending_type}") %>
            </td>
            <td class="text-right" style="width:100px">
              <%= format_price spending_proposal.price %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div><strong>(*)Nota:</strong> Las propuestas marcadas con el símbolo <span class="icon-x"></span> no se ejecutan porque su presupuesto se pasa una vez ejecutado en orden de prelación, puesto que exceden presupuesto</div>
</div>
