<div class="row margin-top">



    <div class="small-12 medium-9 column margin-top">
      <h3><strong><%= @heading.name %></strong></h3>
      <h5><%= @budget.name %> en <strong><%= @group.name %></strong></h5>

      <% @group.headings.each do |heading| %>


          <% if @ballot.completed_by_heading?(heading) %>
              <div data-alert class="ballot-alert ballot-success">
                <span class="icon-check icon"></span> Su papeleta de votación de <%= @heading.name %> <strong>es válida</strong>
              </div>
          <% else %>
              <div data-alert class="ballot-alert ballot-warning">

                Le quedan por <strong>marcar <%= @ballot.number_remaining_lines_to_complete(heading) %> <%= heading.name %></strong> para completar su votación
              </div>
          <% end %>
      <% end %>

    <table class="ballot-paper">
      <theading>
        <th class="text-left">
        </th>
        <th class="text-left">
          Código
        </th>
        <th class="text-left">
          Título de propuesta
        </th>
        <th class="text-right">
          Puntos por voto
        </th>
      </theading>
      <tbody>
      <% @investments.each_with_index do |investment, index| %>
        <%= render 'management/budgets/ballots/investment_ballot_with_points', investment: investment, index: index + 1%>
      <% end %>
      </tbody>
    </table>
    </div>
    <div class="small-12 medium-3 column margin">



      <h4>Votación <u><%= current_user.name %></u></h4>
      <% @group.headings.each do |heading| %>
          <%= render 'management/budgets/ballots/ballot_group_heading', budget: @budget, group: @group,  heading: heading %>
      <% end %>

      <div class="">
        <small>
          <p>Recuerda  que:</p>
          <ul>
            <li>
              Puedes cambiar tus votos hasta el día de cierre de votación.
            </li>
            <li>
              Sólo puedes votar en un barrio (el que tú elijas).
            </li>
            <li>
              Puedes votar un máximo de 3 propuestas.
            </li>
            <li>
              Cada voto tiene un peso diferente en puntos (1, 2 ó 3 puntos).
            </li>
          </ul>
        </small>
      </div>

    </div>

</div>