<div class="row margin-top">





    <div class="small-12 medium-9 column margin-top">

      <% if @ballot.completed? %>
          <div data-alert class="ballot-alert ballot-success">
             Su papeleta de votación de <%= @heading.name %> es válida, por favor <br><strong>haga click "VOTAR" para completar su votación</strong>.
          </div>
      <% else %>
          <div data-alert class="ballot-alert ballot-warning">
            Le quedan por marcar
            <%= inline_pending_groups(@ballot, @group).html_safe %>
            para poder enviar su votación de <%= @budget.name %>.
          </div>
      <% end %>

      <h3><strong><%= @heading.name %></strong></h3>
      <h5><%= @budget.name %> en <strong><%= @group.name %></strong></h5>
    <table class="ballot-paper">
      <theading>
        <th class="text-left">
          Título de propuesta
        </th>
        <th class="text-right">
          Coste estimado
        </th>
        <th class="text-right">
          Puntos por voto
        </th>
      </theading>
      <tbody>
      <% @investments.each do |investment| %>
        <%= render 'budgets/ballot/investment_ballot_with_points', investment: investment %>
      <% end %>
      </tbody>
    </table>
    </div>
    <div class="small-12 medium-3 column margin">



      <% if @ballot.completed? %>
        <%= link_to budget_ballot_lines_url, class: 'button expanded success' do %>
              VOTAR
        <% end %>
      <% else %>
        <%= link_to '#ballot', class: 'button expanded secondary', disabled: 'disabled' do %>
              VOTAR
        <% end %>
      <% end %>
      <small><%= link_to 'o descartar propuestas y cambiar de barrio', '#' %></small>
      <br>
      <br>

      <% @group.headings.each do |heading| %>
          <%= render 'budgets/ballot/ballot_group_heading', budget: @budget, group: @group,  heading: heading %>
      <% end %>

      <div class="">
        <small>
          <p>Recuerda  que:</p>
          <ul>
            <li>
              Asegúrate de que <span class="success">tu papeleta es válida</span>
            </li>
            <li>
              Puedes cambiar tus votos hasta el día de cierre de votación.
            </li>
            <li>
              Sólo puedes votar en un barrio (el que tú elijas).
            </li>
            <li>
              Debe votar <%= @ballot.number_of_mandatory_lines_to_complete(@heading) %> propuestas.
            </li>
            <li>
              Cada voto tiene un peso diferente en puntos (1, 2 ó 3 puntos).
            </li>
          </ul>
        </small>
      </div>

    </div>

</div>