
  <table id="budget-investments-results" class="table-for-mobile">
    <thead>
    <tr>
      <th scope="col" class="text-center">
        Total de papeletas enviadas
      </th>
      <th scope="col" class="text-center">
        Online
      </th>
      <th scope="col" class="text-center">
        Presenciales
      </th>
      <th scope="col" class="text-center">
        No validadas (nulas)
      </th>
      <th scope="col" class="text-center">
        Válidas
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="col" class="text-center">
        <%= @all_confirmations.count %>
      </td>
      <td scope="col" class="text-center">
        <%= @all_confirmations.online.count %>
      </td>
      <td scope="col" class="text-center">
        <%= @all_confirmations.by_manager.count %>
      </td>
      <td scope="col" class="text-center">
        <%= @not_valid_confirmations.count %>
      </td>
      <td scope="col" class="text-center ballot-points">
        <%= @valid_confirmations.count %>
      </td>
    </tr>
    </tbody>
  </table>

  <small>(*) <i><u>Un voto</u> es una papeleta que fue enviada a través del botón "VOTAR".</i></small><br>
  <small>(*) <i><u>Un voto no validado (nulo)</u> es una papeleta que fue enviada a través del botón "VOTAR", pero no fue  confirmada con el código SMS de seguridad en el proceso de votación.</i></small>
  <br>
  <br>

    <% @group.headings.each do |heading| %>
      <h4 class="inline-block">
        <%= heading.name %>
      </h4>
      <%= render 'budgets/results/results_proposals_table', budget: @budget, investments: heading.investments %>
      <br>
      <br>
  <% end %>
