<% content_for :canonical do %>
  <%= render "shared/canonical", href: budgets_url %>
<% end %>

<div class="expanded budget-header-bg no-margin-top padding">
  <div class="row">
    <div class="small-12 column">
      <h1><%= t('budgets.index.title') %></h1>
    </div>
  </div>
</div>

<div class="row">
  <%- @budgets.reverse.each_with_index do |budget, index| %>
      <div class="small-12 medium-4 columns column end">
        <div class="panel margin" data-equalizer-watch="">

          <div style="min-height: 165px;">
            <h2><%= budget.name %></h2>
            <p class="info-date"><strong><%= budget.translated_phase %></strong></p>

          </div>
          <% if budget.finished? %>
            <%= link_to 'Ver resultados', results_budget_path(budget), class: "button see-more expanded" %>
            <% else %>
            <br>
            <br>
          <% end %>
          <br>
          <%= link_to t("budgets.phase.#{budget.phase}") , budget, class: "button primary expanded" %>
        </div>
      </div>
  <% end %>
  <div class="small-12 medium-4 columns column end">
    <div class="panel margin" data-equalizer-watch="">

    <div style="min-height: 210px;">
      <h2>Presupuestos Participativos 2016</h2>
      <p class="info-date"><strong>Presupuesto terminado</strong></p>

    </div>

    <%= link_to 'Ver resultados', participatory_budget_results_path, class: "button see-more expanded" %>
    <br>
  </div>
  </div>
</div>
