<div class="expanded budget no-margin-top">
  <div class="row" data-equalizer>
    <div class="small-12 medium-9 column padding" data-equalizer-watch>
      <%= back_link_to budgets_path %>

      <h1><%= @budget.name %></h1>

      <%= @budget.description %>
    </div>
    <div class="small-12 medium-3 column info padding" data-equalizer-watch>
      <p>
        <strong><%= t('budgets.show.phase') %></strong>
        <br>
        <%= t("budgets.phase.#{@budget.phase}") %>
      </p>

      <% if @budget.accepting? %>
        <% if @heading && current_user %>
          <% if current_user.level_two_or_three_verified? %>
            <%= link_to t("budgets.investments.index.sidebar.create"), new_budget_investment_path(@budget), class: "button margin-top expanded" %>
          <% else %>
            <div class="callout warning margin-top">
              <%= t("budgets.investments.index.sidebar.verified_only",
                  verify: link_to(t("budgets.investments.index.sidebar.verify_account"), verification_path)).html_safe %>
            </div>
          <% end %>
        <% else %>
          <div class="callout primary margin-top">
            <%= t("budgets.investments.index.sidebar.not_logged_in",
                  sign_in: link_to(t("budgets.investments.index.sidebar.sign_in"), new_user_session_path),
                  sign_up: link_to(t("budgets.investments.index.sidebar.sign_up"), new_user_registration_path)).html_safe %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="row margin-top">
  <div class="small-12 column margin">
    <h2>Selecciona el barrio en el que realizarás tu propuesta</h2>
  </div>

  <div class="small-12 medium-9 column margin-top">
    <div class="text-center">
      <%= image_tag('map.jpg', id: 'map', usemap: '#html_map', class: 'margin-top', alt: 'Barrios de Getafe') %>
      <map name="html_map" id="html_map">
        <% @budget.groups.each do |geozone| %>
            <area shape="poly"
                  coords="<%= geozone.geozone.html_map_coordinates %>"
                  href="<%= budget_investments_path(@budget, heading_id: geozone.headings.first) %>"
                  title="<%= geozone.name %>"
                  alt="<%= geozone.name %>">
        <% end %>
      </map>
    </div>
  </div>

  <div class="small-12 medium-3 column margin">

    <ul id="geozones" class="no-bullet">
      <% @budget.groups.each do |group| %>
          <li><%= link_to group.name, budget_investments_path(@budget, heading_id: group.headings.first), class: ("active" if group.id == params[:group]) %></li>
      <% end %>
    </ul>
  </div>


</div>