<%= back_link_to admin_budgets_path %>

<h2><%= t("admin.budgets.results.title", budget_name: @budget.name ) %></h2>
<div class="row margin-top">
  <div class="small-12 medium-2 column">
    <ul class="menu vertical no-margin-top no-padding-top">
      <li>
        <strong>

        </strong>
      </li>

      <% @budget.groups.each do |group| %>
          <li class="<%= 'active' if group.eql?(@group) %> ">
            <%= link_to group.name,
                        results_admin_budget_path(@budget, group_id: group.id) %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="small-12 medium-10 column">
    <% if @group %>
      <%= render 'results_table_with_confirmed_ballots', group: @group %>
    <% end %>
  </div>
</div>