<div class="row margin">
  <div class="small-12 column">
    <h2 class="title open-processes inline-block">
      Procesos abiertos e información sobre asambleas
    </h2>
  </div>
</div>

<div class="row">

  <div class="small-12 medium-4 column">
    <div class="panel panel-highlight highlight margin" data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3>Reglamento de cesiones de uso de locales municipales</h3>
        <p class="info">
          Os dejamos el enlace al Portal de Trasparencia en el que podrás consultar el documento y realizar alegaciones al mismo por escrito y a través del registro de entrada del Ayuntamiento de Getafe.
        </p>
      </div>
      <%= link_to "Ver proceso", page_path('reglamento-cesiones-locales-municipales'), class: "button see-more expanded" %>
    </div>

  </div>

  <div class="small-12 medium-4 column">
    <div class="panel panel-highlight highlight margin" data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3>Ordenanza reguladora del proceso de adjudicación de terrenos municipales con destino a huertos ecológicos de ocio y desarrollo de actividades con fines sociales y educativos</h3>
        <p class="info">

        </p>
      </div>
      <%= link_to "Ver proceso", page_path('ordenanza-reguladora-adjudicacion-terrenos-municipales'), class: "button see-more expanded" %>
    </div>

  </div>

  <div class="small-12 medium-4 column">
    <div class="panel panel-highlight margin" data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3>PLENO DE ESTADO DEL MUNICIPIO</h3>
        <p class="info">
          Próximamente celebraremos el Pleno del Estado del Municipio, el Gobierno Municipal hará balance de la gestión en estos dos años de legislatura y la oposición podrá hacer lo propio respecto a su papel en el Ayuntamiento de Getafe.
        </p>
        <p>
          Queremos conocer las valoraciones, aportaciones e  ideas que puedas aportar para la celebración  del Pleno del Estado del Municipio.
        </p>
      </div>
      <%= link_to "Ver proceso", page_path('participacion-consulta-pleno-del-estado-del-municipio'), class: "button see-more expanded" %>
    </div>
  </div>

</div>

<div class="row">

  <div class="small-12 medium-4 column">
    <div class="panel panel-highlight" data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3>PLAN MUNICIPAL DE LA ACCESIBILIDAD DE LA CIUDAD DE GETAFE</h3>
        <p class="info-date"><span class="icon-calendar"></span>&nbsp;Hasta el <strong>15 de octubre</strong></p>
        <p class="info">
          Nueva consulta ciudadana en Getafe. Aportación de propuestas, sugerencias y aportaciones que formulen los ciudadanos, entidades y organizaciones del municipio que enriquezcan el PLAN MUNICIPAL DE LA ACCESIBILIDAD DE LA CIUDAD DE GETAFE.
        </p>
      </div>
      <%= link_to "Ver proceso", page_path('plan-municipal-accesibilidad-getafe'), class: "button see-more expanded" %>
    </div>
  </div>


  <div class="small-12 medium-4 column ">
    <div class="panel panel-highlight " data-equalizer-watch="">
      <div style="min-height: 419px;">
        <h3>Resultados Presupuestos Participativos 2017</h3>

        <p class="info">
          Publicados los resultados de la votación de Presupuestos Participativos 2017.
        </p>
      </div>
      <%= link_to "Ver resultados", results_budget_path(1), class: "button see-more expanded" %>
    </div>
  </div>

  <div class="small-12 medium-4 column">
    <div class="panel " data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3>I BORRADOR DEL PLAN DE CONVIVENCIA DE GETAFE</h3>
        <p class="info-date">GETAFE CONTIGO</p>
        <p class="info">
          Os presentamos el I Borrador del PLAN DE CONVIVENCIA DE GETAFE una apuesta y un compromiso del Ayuntamiento.
        </p>
      </div>
      <%= link_to "Ver proceso", page_path('coexistence_plan_public_consultation'), class: "button see-more expanded" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 margin column">
    <div class="panel " data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3>PLAN NORMATIVO 2017</h3>
        <p class="info-date">GETAFE  CONTIGO</p>
        <p class="info">
          Nueva consulta ciudadana sobre publicación del Plan Normativo 2017
        </p>
      </div>
      <%= link_to "Ver proceso", page_path('normative_plan_2017'), class: "button see-more expanded" %>
    </div>
  </div>
  <div class="small-12 medium-4 column">
  </div>
  <div class="small-12 medium-4 column">
  </div>
</div>