<div class="row margin">
  <div class="small-12 column">
    <h2 class="title open-processes inline-block">
      Procesos abiertos e información sobre asambleas
    </h2>
  </div>
</div>

<div class="row">

<div class="small-12 medium-4 column ">
    <div class="panel panel-highlight margin" data-equalizer-watch="">
      <div style="min-height: 419px;">
        <h3>Iniciada votación de propuestas Presupuestos Participativos 2017</h3>
        <p class="info-date"><span class="icon-calendar"></span>&nbsp;Hasta el <strong>25 de junio 23:59h</strong></p>
        <p class="info">
          Los vecinos y vecinas de Getafe empadronados en el municipio y mayores de 16 años, podrán votar desde el lunes 19 (09:00h) hasta el 25 de junio, las propuestas de Presupuestos Participativos 2017.
        </p>
      </div>
      <%= link_to "Más información", page_path('fase_votacion_presupuestos_participativos'), class: "button see-more expanded" %>
    </div>
  </div>

  <div class="smal-12 medium-4 column">
    <div class="margin panel-image" data-equalizer-watch="">
      <%= link_to page_path('citizen_assembly_2017') do %>
          <%= image_tag('20170529_participacion_presupuestos.jpg', label: 'Votaciones Presupuestos Participativos Getafe 2017', title: 'Votaciones Presupuestos Participativos Getafe 2017') %>
      <% end %>
    </div>
  </div>


  <div class="small-12 medium-4 column">
    <div class="panel panel-highlight margin" data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3>PREGÓN 2017</h3>
        <p class="info-date"><span class="icon-calendar"></span>&nbsp;Hasta el <strong>10 de mayo</strong></p>
        <p class="info">
          Nueva consulta ciudadana sobre la elección de la persona que dará el pregón en las fiestas de 2017
        </p>
      </div>
      <%= link_to "Ver proceso", page_path('pregon_2017'), class: "button see-more expanded" %>
    </div>
  </div>

  <div class="small-12 medium-4 column">
    <div class="panel margin " data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3>I BORRADOR DEL PLAN DE CONVIVENCIA DE GETAFE</h3>
        <p class="info-date">GETAFE CONTIGO</p>
        <p class="info">
          Os presentamos el I Borrador del PLAN DE CONVIVENCIA DE GETAFE una apuesta y un compromiso del Ayuntamiento.
        </p>
      </div>
      <%= link_to "Ver proceso", page_path('coexistence_plan_public_consultation'), class: "button see-more expanded" %>
    </div>
  </div>

</div>
<div class="row">

  <div class="small-12 medium-4 column">
    <div class="panel " data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3>PLAN NORMATIVO 2017</h3>
        <p class="info-date">GETAFE  CONTIGO</p>
        <p class="info">
          Nueva consulta ciudadana sobre publicación del Plan Normativo 2017
        </p>
      </div>
      <%= link_to "Ver proceso", page_path('normative_plan_2017'), class: "button see-more expanded" %>
    </div>
  </div>
  <div class="small-12 medium-4 column">
  </div>
</div>