<div class="expanded highlight padding no-margin-top custom-getafe">
  <div class="row">
    <div class="small-12 large-6 column">
      <h1 class="project-title"><%= t("layouts.header.open_city_title") %></h1>
      <h2 class="project-slogan">
        <%= t("layouts.header.open_city_slogan_html") %>&nbsp;
      </h2>
      <p class="project-introduction">
        <%= t("layouts.header.open_city_introduction_html") %>&nbsp;
      </p>
      <div class="row">
        <div class="small-12 column">
          <%= link_to t("layouts.header.about_participatory_budget"), page_path('participatory_budget/in_two_minutes'), class: "button see-more expanded" %>
        </div>
        <div class="small-12 column">
          <%= link_to t('layouts.header.participatory_budget_results_2016_callout'), participatory_budget_results_path, class: "button see-more expanded" %>
        </div>
        <div class="small-12 column">
          <%= link_to t("layouts.header.public_consultation_callout"), participatory_budget_results_path, class: "button see-more expanded" %>
        </div>
      </div>
    </div>

    <div class="small-12 large-6 column text-center" id="home-with-icon-background">

    </div>
  </div>
</div>

<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="row text-center margin">

      <div class="small-12 medium-4 column">
        <%= image_tag("icon_home_proposal.png", size: "168x168", alt: "", title: t("welcome.proposal.title"))  %>
        <h2><%= t("welcome.proposal.title") %></h2>
        <p><%= t("welcome.proposal.description") %></p>
      </div>

      <div class="small-12 medium-4 column">
        <%= image_tag("icon_home_decide.png", size: "168x168", alt: "", title: t("welcome.decide.title")) %>
        <h2><%= t("welcome.decide.title") %></h2>
        <p><%= t("welcome.decide.description") %></p>
      </div>
      <div class="small-12 medium-4 column">
        <%= image_tag("icon_home_do.png", size: "168x168", alt: "", title: t("welcome.do.title")) %>
        <h2><%= t("welcome.do.title") %></h2>
        <p><%= t("welcome.do.description") %></p>
      </div>
    </div>
  </main>
<% end %>
