<% unless @budget ||  current_page?(page_path('proposal_revision_period'))%>
  <div class="banner">
    <div class="row banner-inner">

      <div class="medium-6 small-12 column banner-left">

          <span class="message">
            <span class=""><span class="lead">Presupuestos Participativos 2018 </span><br/>Votación abierta del 21 al 31 de Mayo</span>
          </span>
      </div>
      <div class="medium-6 small-12 column banner-right text-center">


        <div class="register-investment">



          <% unless current_user.try(:level_three_verified?) %>
            <div class="register-allowed">

              <%= link_to 'Acceder a votación',
                          budget_ballot_path(Budget.last),
                          class: 'button expanded' %></span>
            </div>

            <div class="register-not-allowed callout warning " style='display:none; font-size: 80%;' aria-hidden="false">
              <p class="small">
                Para poder acceder a la votación debes
                <% if current_user %>
                  <%= link_to("verificar tu cuenta con el padrón", verification_path) %>
                 <% else %>
                  <%= link_to("registrarte como usuario", new_user_registration_path) %> o <%= link_to("entrar en tu cuenta", new_user_session_path) %>
                  <% end %>
              </p>
            </div>
            <% else %>
            <div class="">

              <%= link_to 'Acceder a votación',
                          budget_ballot_path(Budget.last),
                          class: 'button expanded' %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
