<div class="row margin">
  <div class="small-12 column">
    <h2 class="title open-processes inline-block">
      Procesos abiertos e información sobre asambleas
    </h2>
  </div>
</div>

<div class="row">
  <%- @pages_in_cover.each_with_index do |page, index| %>
  <div class="small-12 medium-4 columns column end">
    <div class="panel margin <%= 'panel-highlight highlight' if page.highlight_in_cover_flag %>" data-equalizer-watch="">

      <div style="min-height: 419px;">
        <h3><%= page.title %></h3>
        <% if page.date_information %>
             <p class="info-date"><span class="icon-calendar"></span>&nbsp;<strong><%= page.date_information %></strong></p>
        <% end %>

        <p class="info">
          <%= page.subtitle %>
        </p>
      </div>
      <%= link_to 'Más información', page_path(page.slug), class: "button see-more expanded" %>
    </div>
  </div>
  <% end %>
</div>