<h2><%= t("admin.users.index.title") %></h2>

<div class="small-12 medium-6">
  <%= form_tag admin_users_path, method: :get, remote: true  do %>
    <div class="input-group">
      <%= text_field_tag :search, '', placeholder: 'Nombre o correo o documento de identidad' %>
      <div class="input-group-button">
        <%= submit_tag 'buscar', class: 'button' %>
      </div>
    </div>
  <% end %>
</div>


<div id="users">
  <%= render "users" %>
</div>